<mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title>
        Salle {{data.room.number}}
    </mat-panel-title>
    <mat-panel-description>
        {{"date : "+data.date}}
    </mat-panel-description>
    <mat-panel-description>
        {{"début : "+data.beginning}}
    </mat-panel-description>
    <mat-panel-description>
        {{"fin : "+data.end}}
    </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
        <p>{{data.description}}</p>
        <span class="spacer"></span>
        <button mat-button color="warn" (click)="onDelete()">Annuler</button>
    </div>
</mat-expansion-panel>
